@import '../../../styles/variables';

.root {
  display: flex;
  padding: $padding-m;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: $primary-main;
  color: white;
  border: none;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  transition: $transtion-1;
  width: fit-content;

  & :nth-child(2) {
    margin-left: 8px;
  }
}
.button {
  &:hover {
    box-shadow: 0 0 5px 2px $primary-light;
    background-color: lighten($primary-main, 5);
  }
}
.link {
  text-decoration: none;
  &:hover {
    color: $secondary-light;
  }
}
.rounded {
  border-radius: 4px;
}
.active {
  color: $secondary-light;
}
