@import '../../../styles/variables.scss';

.root {
  padding: $padding-l;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 8vh;
  flex-direction: column;
}
.priceTable {
  padding: $padding-l;
  border: solid 1px $gray-1;
  border-radius: $border-radius-m;
  margin-top: 1rem;
}
