@import '../../../../styles/variables.scss';

.root {
  margin: 0 auto;
  max-width: 450px;
  min-width: 350px;
  border-color: rgb(225, 225, 243);
  font-size: 0.9rem;
  table {
    width: 100%;
  }
  table,
  th,
  td {
    border-collapse: collapse;
    border: solid 1px rgb(217, 217, 235);
    padding: 0.2rem;
    padding-left: 0.4rem;
  }
  th {
    text-align: left;
  }
}

.header {
  text-transform: uppercase;
}

.bolded {
  font-weight: bold;
}
